.Editable__Overlay {
  opacity: 0;
  background-color: #000;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  z-index: 2;
}

.Editable__Overlay:hover {
  opacity:0.2;
}

.Editable__Popover {
  margin: 5px 20px;
  font-size: 0.7em;
}