.Home__Container {
  background: #7F969C;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Home__Container .LandingLayout__Body {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
}

.Home a {
  background-color: #fafafa;
}

.Home a:hover {
  color: #fafafa;
  border-color: #fafafa;
}

.Home img {
  width: 560px;
  max-width: 80%;
  margin: 0 auto;
  object-fit: contain;
  display: block;
}

/* .Home__Container::after,
.Home__Container::before {
  content: '';
  position: absolute;
} */

/* .Home__Container::before {
  border-right: 100vmin solid transparent;
  border-top: 100vmin solid rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
} */

/* .Home__Container::after {
  border-left: 100vmin solid transparent;
  border-bottom: 100vmin solid rgba(0, 0, 0, 0.2);
  bottom: 0;
  right: 0;
} */
