.ProjectsLayout__Page__Body {
  display: block;
  padding: 25px 16px 24px;
  margin: -20px auto 20px;
  min-width: 300px;
  width: calc(100% - 20px);
  min-height: calc(100vh - 80px);
}

.ProjectsList__Container {
  padding: 0 20px;
}

.ProjectsList__Content {
  position: relative;
}

.ProjectsList__Toolbar {
  overflow: hidden;
  width: calc(100% + 40px);
  padding: 15px 40px 10px;
  margin-left: -20px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.ProjectsList__Toolbar__Input {
  background-color: #fff;
}

.ProjectsLayout__Page__Body .ProjectsList__Container {
  padding: 0;
}

.ProjectsLayout__Page__Body .ProjectsList__Toolbar {
  top: calc(2em + 10px);
}

.ProjectsList__Toolbar__Column {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.ProjectsList__Toolbar__Column:first-child {
  justify-content: left;
}

.ProjectsList__Toolbar__Column:last-child {
  justify-content: center;
}

.ProjectsList__Toolbar__Column.Column__Text > * {
  margin-top: auto;
}

.ProjectsList__Toolbar__Column.Column__Large {
  flex-grow: 2;
}

.ProjectsList__LoadMore {
  text-align: center;
}

@media (min-width: 600px) {
  .ProjectsList__Toolbar__Column:last-child {
    justify-content: right;
  }

  .ProjectsList__Toolbar {
    padding: 20px 40px 10px;
  }

  .ProjectsLayout__Page__Body .ProjectsList__Toolbar {
    top: 2.7em;
  }
}

@media (min-width: 900px) {
  .ProjectsLayout__Page__Body .ProjectsList__Toolbar {
    top: 3.2em;
  }
}
