.ProjectForm__Description {
  text-align: center;
  width: 90%;
  margin: 1em auto;
  padding: 2rem 2rem;
  border: 3px solid #c6d4d9;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;
}

.ProjectForm__Description::before {
  content: '';
  border: 2px solid #a9bec5;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.NewProject__MobileStepper {
  margin: auto;
}

.NewProject__Stepper {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .ProjectForm__Description {
    margin: 2em auto;
    padding: 2rem 4rem;
  }
}

/* PlanForm */

.ProjectForm__PlainForm__Section {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.ProjectForm__PlainForm__Section__Title {
  margin-bottom: 1em;
}

/* PREVIEWS */

/* ProjectCorePresentations */

.ProjectPresentationsData__Summary__Text {
  /* text-transform: uppercase; */
  min-width: 0;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ProjectPresentationsData__Summary .MuiAccordionSummary-content {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
}

.PresentationSectionPreview__Title__Container .MuiDivider-wrapper {
  max-width: 90%;
}

.PresentationSectionPreview__Title__Text {
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}

.PresentationSectionPreview__Data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PresentationSectionPreview__Media__Container {
  height: 30vh;
  display: flex;
  justify-content: center;
  margin: 1em 5% auto;
}

.PresentationSectionPreview__Media__Image {
  max-width: 70vw;
}

.PresentationSectionPreview__Description__Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 10px;
  text-align: center;
}

.PresentationSectionPreview__Description__Container
  .PresentationSectionPreview__Description__Text {
  margin: auto 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 600px) {
  .PresentationSectionPreview__Data {
    flex-direction: row;
  }
}
