.ProjectCard__Container {
  padding: 10px 12px;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  border-radius: 10px;
}

.ProjectCard__Container::before,
.ProjectCard__Container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ProjectCard__Container::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 3.9%,
    hsl(0 0% 0% / 0.779) 7.2%,
    hsl(0 0% 0% / 0.765) 10.1%,
    hsl(0 0% 0% / 0.744) 12.6%,
    hsl(0 0% 0% / 0.717) 14.9%,
    hsl(0 0% 0% / 0.683) 17.1%,
    hsl(0 0% 0% / 0.641) 19.3%,
    hsl(0 0% 0% / 0.592) 21.6%,
    hsl(0 0% 0% / 0.534) 24.2%,
    hsl(0 0% 0% / 0.468) 27%,
    hsl(0 0% 0% / 0.393) 30.3%,
    hsl(0 0% 0% / 0.31) 34.15%,
    hsl(0 0% 0% / 0.216) 38.6%,
    hsl(0 0% 0% / 0.113) 43.8%,
    hsl(0 0% 0% / 0) 50%
  );
  transition: 300ms opacity linear;
  z-index: 1;
}

.ProjectCard__Container::after {
  background: linear-gradient(45deg, #3f6e91, hsl(5 97% 63% / 0) 100%);
  opacity: 0.7;
  transition: 1500ms opacity linear;
}

.ProjectCard__Container .ProjectCard__Image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 0;
  object-fit: cover;
  opacity: 1;
  transition: opacity 500ms linear;
}

.ProjectCard__DescriptionSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 0.5em 0;
  text-align: center;
  z-index: 2;
}

.ProjectCard__DescriptionSection .ProjectCard__DescriptionSection__Title {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: balance;
  min-height: 2rem;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7), -2px -2px 5px rgba(255, 255, 255, 0.7),
    2px -2px 5px rgba(255, 255, 255, 0.7), -2px 2px 5px rgba(255, 255, 255, 0.7);
}

.ProjectCard__Container:focus {
  outline: 0.5rem solid #ffffff;
  outline-offset: -0.5rem;
}

.ProjectCard__Container--active:hover::after,
.ProjectCard__Container--active:focus::after,
.ProjectCard__Container:hover::before,
.ProjectCard__Container:focus::before {
  opacity: 0;
}

.ProjectCard__Container:hover .ProjectCard__Goal,
.ProjectCard__Container:focus .ProjectCard__Goal {
  opacity: 0;
}

.ProjectCard__VideoSection {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms linear;
  transition-delay: 200ms;
}

.ProjectCard__VideoSection--active {
  opacity: 1;
  display: flex;
  justify-content: center;
}

.ProjectCard__Image.ProjectCard__Image--hidden {
  opacity: 0;
  transition-delay: 0ms;
}

.ProjectCard__VideoSection__Iframe {
  position: absolute;
  min-width: 100%;
  max-height: 120%;
  margin: auto;
  bottom: 0;
  background-color: black;
}
