.ProjectCard__Container {
  padding: 10px 12px;
  overflow: hidden;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.ProjectCard__Container::before,
.ProjectCard__Container::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ProjectCard__Container::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
  z-index: 1;
}

.ProjectCard__Container::after {
  background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.ProjectCard__Container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 0;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.ProjectCard__DescriptionSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0;
  text-align: center;
  z-index: 2;
  transform: none;
  transition: 450ms transform ease-in-out;
  transition-delay: 200ms;
}

.ProjectCard__DescriptionSection .ProjectCard__Title {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms opacity linear;
  transition-delay: 200ms;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 2rem;
}

.ProjectCard__DescriptionSection .ProjectCard__Goal {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 1;
  transition: 300ms opacity linear;
  transition-delay: 200ms;
  margin: auto 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.ProjectCard__Container:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.ProjectCard__Container:hover .ProjectCard__DescriptionSection {
  transform: translateY(80%);
}

.ProjectCard__Container:hover::after,
.ProjectCard__Container:focus::after,
.ProjectCard__Container:hover::before,
.ProjectCard__Container:focus::before {
  opacity: 0.7;
}

.ProjectCard__Container:hover .ProjectCard__Goal,
.ProjectCard__Container:focus .ProjectCard__Goal {
  opacity: 0;
}

.ProjectCard__Container:hover .ProjectCard__Image,
.ProjectCard__Container:focus .ProjectCard__Image {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}
