.CompanyData__Container {
  overflow: hidden;
  width: calc(100% + 40px);
  padding: 20px 20px;
  margin-left: -20px;
  margin-top: -25px;
  background-color: #f4f4f4;
  border-bottom: 2px solid #eee;
}

.CompanyData__Header {
  display: flex;
  margin-bottom: 10px;
}

.CompanyData__Header .CompanyData__Header__ButtonContainer {
  margin: 2px 2px auto auto;
  min-width: 90px;
}

.CompanyData__Header__ButtonContainer
  .CompanyData__Header__ButtonContainer__Button {
  margin: 2px 2px auto auto;
  min-width: 90px;
}

.CompanyData__Info {
  display: grid;
  grid: auto / auto;
  row-gap: 10px;
  column-gap: 20px;
}

.CompanyData__Logo {
  width: 100%;
  overflow: hidden;
}

.CompanyData__Logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CompanyData__Group {
  display: grid;
  grid: auto / auto;
  row-gap: 10px;
  column-gap: 10px;
}

.CompanyData__Value {
  font-weight: 500;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .CompanyData__Info {
    grid: auto / 250px auto;
  }

  .CompanyData__Group {
    grid: auto / repeat(2, 1fr);
  }
}
